/*************************************/
/**********Design Guide***************/
/*************************************/

/*
Red rgb(227, 24, 55), #E31837   on Hover rgb(150, 0, 25), #960019
Grey rgb(37, 37, 37) #252525

h1, h2, h3 Opens Sans Condensed bold 700
p Open Sans regular 400
*/

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*************************************/
/**********Styles Override************/
/*************************************/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.navbar p {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

section {
  scroll-margin-top: 80px;
}

/*************************************/
/****************Styles***************/
/*************************************/

/******Navbar*********/

.navbar,
.schedule-banner,
footer {
  color: #fff;
  background-color: #e31837;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 1px dotted white;
  /* box-shadow: none; */
}

.toggler-icon {
  height: 13px;
  display: block;
  transition: all 0.2s;
}

.navbar-toggler .top-bar {
  transform: rotate(90deg);
  /* transform-origin: 10% 20%; */
  transform-origin: 50% 140%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(180deg);
  /* transform-origin: 10% 20%; */
  transform-origin: 30% 10%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(225deg);
  transform-origin: 35% 70%;
}

.navbar-toggler.collapsed .middle-bar {
  transform: rotate(45deg);
  transform-origin: 90% 120%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(225deg);
  transform-origin: 35% 75%;
}

.nav-button i {
  font-size: 30px;
}

.navbar-nav {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: -0.5rem;
}

/***********Carousel***********/

.carousel-item {
  margin-top: 80px;
  height: calc(80vh - 80px);
  min-height: 375px;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.75);
}

.hero-logo {
  width: calc(5rem + 6vw);
}

.hero-text-container {
  width: 70%;
}

/***********Location***********/

.schedule {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/903.jpeg) center/cover no-repeat;
}

/***********Footer***********/

footer {
  font-size: 14px;
}
footer p {
  font-size: 12px;
}

/******Floating Button*********/

.whatsapp-floating-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 4px 4px 5px rgb(85, 85, 85);
  z-index: 100;
}
.wa-logo {
  color: #fff;
  margin-top: 12px;
}
